/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    color: black;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #8d8c8c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    transition: all .8s ease-in-out;
    z-index: 1;
    display: block;
}
.linehover:hover {
    transition: .9s;
}
.linehover:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(0,0,0,0.9);
    transition: all 250ms;
}

.linehover:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.t-13{
    font-size: 13px !important;
}

.title{
    font-size: 4rem;
}
.title_2{
    font-size: 3rem;
}

.line_mobile{
    line-height: 3rem;
}

.dis-flex{
    display: flex !important;
}

.parallax{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.parallax-intermediate{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 75vh;
    width: 100%;
}
.parallax-medium{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 50vh;
    width: 100%;
}
.parallax-simple{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.background-shadow{
    background-color: rgba(0,0,0, 0.6);
}

/* IMAGES BACKGROUND */
.section1{
    background-image: url(../images/seccion_inicio/section_1.jpg);
}
.section2{
    background-image: url(../images/seccion_inicio/section_2.jpg);
}
.section3{
    background-image: url(../images/seccion_inicio/section_3.jpg);
}
.section_cases{
    background-image: url(../images/casos-exito/FONDO.jpg);
}

.rounded-img{
    /* border-radius: 50%; */
    width: 125px;
    height: 125px;
}

.animationScale{
    transition: .5s all ease;
}
.animationScale:hover{
    transform: scale(1.2);
}

.sizeCarousel{
    width: 550px;
}

.img-size{
    width: 250px;
    max-height: 230px;
}

.img-little{
    width: 50px;
    max-height: 50px;
}

.img-medium-little{
    width: 75px;
}

.img_client{
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.aplication{
    text-decoration: none !important;
    cursor: unset;
}

.img-capacitor{
    max-width: 225px;
    max-height: 150px;
    object-fit: contain;
}

.img-gallery{
    transition: all .5s ease-in-out;
    width: 250px;
    height: 250px;
}
.img-gallery:hover{
    transform: scale(1.1);
}

.hide-section{
    display: none;
}

@media only screen and (max-width: 768px) {
    .title,.title_2{
        font-size: 2rem;
    }

    .columnFlex{
        flex-direction: column;
    }

    .r1_mobile{
        font-size: 1rem;
    }

    .r2_mobile{
        font-size: 1.3rem;
    }

    .hide_on_mobile{
        display: none;
    }

    .line_mobile{
        line-height: 2rem;
    }

    .parallax-medium{
        height: 100vh;
    }

    .sizeCarousel{
        width: 100%;
    }

    .parallax-intermediate{
        height: 100%;
    }

    .mobile_center{
        text-align: center;
    }
}