/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    color: black;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #8d8c8c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    transition: all .8s ease-in-out;
    z-index: 1;
    display: block;
}
.linehover:hover {
    transition: .9s;
}
.linehover:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(0,0,0,0.9);
    transition: all 250ms;
}

.linehover:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.t-13{
    font-size: 13px !important;
}

.title{
    font-size: 4rem;
}
.title_2{
    font-size: 3rem;
}

.line_mobile{
    line-height: 3rem;
}

.dis-flex{
    display: flex !important;
}

.parallax{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.parallax-intermediate{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 75vh;
    width: 100%;
}
.parallax-medium{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 50vh;
    width: 100%;
}
.parallax-simple{
    background: #ffffff fixed no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.background-shadow{
    background-color: rgba(0,0,0, 0.3);
}
.background-shadow-2{
    background-color: rgba(0,0,0, 0.7);
}
.background-simple{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

/* IMAGES BACKGROUND */
.section1{
    background-image: url(../images/seccion_inicio/section_1.jpg);
}
.section2{
    background-image: url(../images/seccion_inicio/section_2.jpg);
}
.section3{
    background-image: url(../images/seccion_inicio/section_3.jpg);
}
.section_cases{
    background-image: url(../images/casos-exito/FONDO.jpg);
}
.control_distribucion{
    background-image: url(../images/control_distribucion_energia/fondo.jpg);
}
.background-calidad{
    background-image: url(../images/calidad_energia/fondo_calidad.jpg);
}
.titulo_tableros{
    background-image: url(../images/control_distribucion_energia/titulo_control_distribucion.jpg);
}
.titulo_ingenieria{
    background-image: url(../images/ingenieria_electrica/ingenieriaElectrica_newback.jpg);
}
.titulo_calidad{
    background-image: url(../images/calidad_energia/titulo_calidad_energia.jpg);
}
.titulo_blindaje{
    background-image: url(../images/blindaje/titulo_blindaje.jpg);
}
.titulo_contacto{
    background-image: url(../images/contacto/contacto_titulo_2.jpg);
}
.titulo_contacto_2{
    background-image: url(../images/contacto/contacto_titulo_2.jpg);
}
.background_contacto{
    background-image: url(../images/contacto/background_contacto.jpg);
}
.background_cotizacion{
    background-image: url(../images/contacto/fondo_cotizacion.jpg);
}
.background_componentes{
    background-image: url(../images/componentes/componentes_newback.jpg);
}
.titulo_componentes{
    background-image: url(../images/componentes/titulo_componentes.jpg);
}
.titulo_contruccion{
    background-image: url(../images/construccion/titulo_construccion.jpg);
}
.background_contruccion{
    background-image: url(../images/construccion/fondo_construccion.jpg);
}
.titulo_casos_exito{
    background-image: url(../images/casos-exito/titulo_casos_exito.jpg);
}
.background_puertas{
    background-image: url(../images/puertas/fondo_puertas.jpg);
}

/* MODAL BACKGROUNDS */
.modal_background_1{
    background-image: url(../images/componentes/fondo_componente_proteccion_electromagnetica.jpg);
}
.modal_background_2{
    background-image: url(../images/componentes/modal_componente_2-4.jpg);
}
.modal_background_3{
    background-image: url(../images/componentes/modal_componente_3-2.jpg);
}
.modal_background_4{
    background-image: url(../images/componentes/modal_componente_4-6.jpg);
}
.modal_background_5{
    background-image: url(../images/componentes/modal_componente_5-2.jpg);
}
.modal_background_6{
    background-image: url(../images/componentes/fondo_tableros_distribucion.jpg);
}

.rounded-img{
    border-radius: 30%;
    width: 125px;
    height: 125px;
}

.animationScale{
    transition: .5s all ease;
}
.animationScale:hover{
    transform: scale(1.1);
}

.animationScale_2{
    transition: .5s all ease;
}
.animationScale_2:hover{
    transform: scale(1.4);
}

.sizeCarousel{
    width: 550px;
}

.img-size{
    width: 250px;
    max-height: 230px;
}

.img-little{
    width: 50px;
    max-height: 50px;
}

.img-medium-little{
    width: 75px;
}

.img_client{
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.aplication{
    text-decoration: none !important;
    cursor: unset;
}

.img-capacitor{
    max-width: 225px;
    max-height: 150px;
    object-fit: contain;
}

.img-gallery{
    transition: all .5s ease-in-out;
    width: 250px;
    height: 250px;
}
.img-gallery-2{
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
}
.img-effect{
    transition: all .5s ease-in-out;
}

.img-gallery:hover,
.img-effect:hover{
    transform: scale(1.1);
}

.hide-section{
    display: none;
}

.menu-float{
    position: fixed;
    top: 25%;
    right: 1%;
    display: flex;
    flex-direction: column;
    z-index: 999;
}
.menu-float a{
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    transition: linear .2s;
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #51adcf;
}
.menu-float a:nth-child(2){
    border-bottom: 50px solid #1f6f8b;
}
.menu-float a:nth-child(3){
    border-bottom: 50px solid #3b5998;
}
.menu-float a:last-of-type{
    border-bottom: 50px solid #00bb2d;
}
.menu-float a:hover{
    width: 130px;
    border-radius: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-float a:nth-child(1):hover{
    background-color: #51adcf;
}
.menu-float a:nth-child(2):hover{
    background-color: #1f6f8b;
}
.menu-float a:nth-child(3):hover{
    background-color: #3b5998;
}
.menu-float a:last-of-type:hover{
    background-color: #00bb2d;
}
.menu-float i{
    margin-top: 23px;
    margin-left: -7px;
}
.menu-float span{
    margin-top: 23px;
    margin-left: -7px;
    display: none;
}
.menu-float a:hover i{
    margin-top: 3rem;
}
.menu-float a:hover span{
    margin-top: 3rem;
    margin-left: 0.5rem;
    display: block;
}
.menu-project{
    position: fixed;
    top: 25%;
    display: flex;
    background-color: #e1e1e1;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
    left: 1%;
    align-items: center;
}
.icon-resize{
    font-size: 1.3rem;
}
.active-option-fixed-x{
    color: #000000 !important;
    font-weight: 700;
    border-right: 1.5px solid #000000;
    border-left: 1.5px solid #000000;
    /* border: 1.5px solid #000000; */
}
.active-option-x{
    color: blue !important;
    font-weight: 700;
    border-right: 1.5px solid blue;
    border-left: 1.5px solid blue;
    /* border: 1.5px solid blue; */
}

.active-option-fixed{
    color: #000000 !important;
    font-weight: 700;
    border-top: 1.5px solid #000000;
    border-bottom: 1.5px solid #000000;
}

.active-option{
    color: blue !important;
    font-weight: 700;
    border-top: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    border-right: 0;
    border-left: 0;
}

.icon-solution-panel{
    font-size: 3rem;
    color: white;
}

.fw-900{
    font-weight: 900 !important;
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}

.adjust_title{
    margin-top: -5%;
}

.object-fit{
    object-fit: contain;
}

/* ARROW UP */
.arrow_up{
    text-align: right;
    width: 10px;
    float: right;
}

.arrow_up a{
    background-color: #1f3c88;
    padding: 1rem;
    color: #ffffff;
}

.numbers_nav{
    display: flex;
    position: absolute;
    right: -5px;
    bottom: -10px;
    font-size: 0.9rem;
}

.numbers_nav p{
    margin-right: 1rem;
}

.numbers_nav i{
    font-size: 0.9rem;
}

.left-corner{
    position: absolute;
    top: 22%;
    left: 1%;
    color: #ffffff;
    text-align: center;
    width: 35%;
}

.home_menu{
    background-color: #e1e1e1;
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.view_h{
    height: 80vh;
}

.home_menu_2{
    background-color: #e1e1e1;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.home_menu_2 .contents_img{
    height: 10rem;
    opacity: 1;
}

.contents_img{
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.img_content{
    text-align: center;
    background-position: center center;
    background-size: cover;
}

.especial_background{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    color: white;
    font-weight: 2rem !important;
    font-size: 2rem;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_content .especial_background p{
    transition: all 1s ease;
}

.img_content:hover .especial_background p{
    transform: scale(1.2);
}

.home_menu:hover .contents_img{
    height: 10rem;
    opacity: 1;
}

.object_img{
    border-right: 2px solid #000000;
}

.img_content{
    border-right: 2px solid #ffffff;
}

.card-contact{
    background-color: rgba(255,255,255,0.3);
    color: #ffffff !important;
    border-radius: 1rem;
    transition: all .5s ease-in-out;
}

.card-contact:hover{
    background-color: rgba(255,255,255,1);
    color: #0056b3 !important;
    transform: scale(1.02);
}
.card-contact:hover a{
    color: #0056b3 !important;
}

.img-logo-index{
    width: 7rem;
}

.logos-inicio{
    margin-top: -8rem;
    width: 20%;
}

.title-our{
    margin-left: -4rem;
    margin-top: -10rem;
    padding-right: 5rem;
}

.show_on_mobile{
    display: none;
}

.gear_login{
    position: absolute;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .title-our{
        margin-left: 0;
        padding-right: 0;
        padding: 0;
    }

    .logos-inicio{
        margin-top: 0;
        width: 100%;
    }
    .left-corner{
        width: 80%;
        top: 25%;
    }
    .title,.title_2{
        font-size: 2rem;
    }

    .columnFlex{
        flex-direction: column;
    }

    .r1_mobile{
        font-size: 1rem;
    }

    .r2_mobile{
        font-size: 1.3rem;
    }

    .hide_on_mobile{
        display: none !important;
    }

    .show_on_mobile{
        display: block;
    }

    .line_mobile{
        line-height: 2rem;
    }

    .parallax-medium{
        height: 100vh;
    }

    .sizeCarousel{
        width: 100%;
    }

    .parallax-intermediate{
        height: 100%;
    }

    .mobile_center{
        text-align: center;
    }

    .adjust_title{
        margin-top: -20%;
    }

    .adjust_title_mobile{
        margin-top: 0%;
    }

    .margin-top-mobile{
        margin-top: 8rem !important;
    }
}

.mapa{
    height: 250px;
}